.add-new__post {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    height: 60vh;
    width: 60%;
}

.add-new__post div + div {
    margin-top: 10px;
}

.add-new__post textarea, input {
    border: 1px solid #393939;
    width: 60%;
}